.head-text {
	padding-top: 10px;
	text-align: center;
	color: white;
}
.button {
	background-color: dimgray;
	color: white;
	height: 50px;
	width: 100px;
	font-size: 18px;
	border-radius: 10px;
	border-style: solid;
	box-sizing: border-box;
	position: absolute;
	bottom: 20px;
	right: 5px;
}
.button:hover {
	background-color: green;
}
.button-cancel {
	background-color: dimgray;
	color: white;
	height: 50px;
	width: 100px;
	font-size: 18px;
	border-radius: 10px;
	border-style: solid;
	box-sizing: border-box;
	position: absolute;
	bottom: 20px;
	right: 5px;
	margin-right: 110px;
}
.button-cancel:hover {
	background-color: red;
}
.button-open {
	position: relative;
	top: 30%;
	left: 40%;
	color: white;
	background-color: #9ba3eb;
	width: 200px;
	height: 100px;
	border-radius: 20px;
	border-style: solid;
	border-color: #242f9b;
	border-width: 3px;
	font-size: larger;
}
.button-open:hover {
	background-color: green;
}
.inputForm {
	font-size: large;
	font-weight: bold;
	width: 100%;
	box-sizing: border-box;
	color: white;
	margin-left: 20px;
	position: relative;
}
input[type="text"],
input[type="number"],
select {
	width: 90%;
	padding: 3px 10px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	position: relative;
}
